html {line-height: 1.15;-webkit-text-size-adjust: 100%;} 
body {margin: 0;} 
main {display: block;} 
h1 {font-size: 2em;margin: 0.67em 0;} 
hr {box-sizing: content-box;height: 0;overflow: visible;} 
pre {font-family: monospace, monospace;font-size: 1em;} 
a {background-color: transparent;} 
abbr[title] {
    border-bottom: none;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    -webkit-text-transform: none;
    text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type='checkbox'],
[type='radio'] {
    box-sizing: border-box;
    padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
    height: auto;
}

[type='search'] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:focus {
    outline-width: 0.2em;
    outline-style: dashed;
    outline-color: #ccf381;
}

::selection {
    background-color: rgba(111, 132, 230, .3);
}

::-webkit-input-placeholder {
    opacity: 1;
    color: rgba(61, 21, 95, .75);
}

::-moz-placeholder {
    opacity: 1;
    color: rgba(61, 21, 95, .75);
}

:-ms-input-placeholder {
    opacity: 1;
    color: rgba(61, 21, 95, .75);
}

::placeholder {
    opacity: 1;
    color: rgba(61, 21, 95, .75);
}

html {
    width: 100%;
    position: relative;
    font-family: "SF UI Text", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html:not(.is-tabbing) a:focus,
html:not(.is-tabbing) .sauce-button:focus,
html:not(.is-tabbing) .menu-toggle:focus {
    outline-color: transparent;
}

html.is-tabbing a:focus {
    outline-color: currentColor;
}

html.is-tabbing button:focus {
    outline-width: 0.2em;
}

html.is-tabbing .sauce-button:focus {
    outline-style: dashed;
    outline-color: #4831d4;
}

html.is-tabbing .menu-toggle:focus {
    outline-offset: 4px;
    outline-style: dashed;
    outline-color: #4831d4;
}

html.is-tabbing #logo:focus,
html.is-tabbing [data-theme='lime']:focus {
    outline-color: currentColor;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font: inherit;
    font-weight: normal;
    line-height: inherit;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
}

main:focus {
    outline: none;
}

ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    -webkit-transition-property: opacity, color, background-color, -webkit-transform, border;
    -webkit-transition-property: opacity, color, background-color, transform, border;
    transition-property: opacity, color, background-color, transform, border;
}

button,
[role='button'] input[type='submit'] {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input,
button,
textarea {
    border-radius: 0;
    -webkit-tap-highlight-color: transparent;
}

textarea {
    resize: none;
}

textarea:focus,
[type='tel']:focus,
[type='text']:focus,
[type='email']:focus,
[type='search']:focus,
[type='password']:focus {
    outline-color: transparent;
}

textarea:required,
textarea:invalid,
[type='tel']:required,
[type='tel']:invalid,
[type='text']:required,
[type='text']:invalid,
[type='email']:required,
[type='email']:invalid,
[type='search']:required,
[type='search']:invalid,
[type='password']:required,
[type='password']:invalid {
    box-shadow: none;
}

input:-webkit-autofill {
    color: transparent !important;
    background-image: none !important;
    background-color: #fff !important;
    -webkit-box-shadow: 0 0 0 1000px none inset !important;
    -webkit-text-fill-color: rgba(61, 21, 95, .7) !important;
}

img {
    width: auto;
    height: auto;
    display: block;
    max-width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#app {
    position: relative;
}

.no-scroll {
    overflow: hidden !important;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

#skip-link {
    top: -4em;
    z-index: 1001;
    color: #eeffff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 8px 15px;
    font-size: 14.5px;
    position: absolute;
    -webkit-transition: top .2s;
    transition: top .2s;
    background: #3d155f;
    border-bottom-right-radius: 3px;
}

#skip-link:focus {
    top: 0;
    left: 0;
    outline: none;
}

.say-hello {
    color: #cbc9e2;
    letter-spacing: 0.25em;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
}

html {
    font-size: 0.9rem;
}

body {
    color: #3d155f;
    background-color: #F9F9F9;
}

a:not([role='button']) {
    color: #3d155f;
}

#skip-link {
    position: fixed;
}

.sauce-button {
    min-width: 23.222em;
}

.sauce-button__content {
    min-height: 4.5em;
}

@media (min-width: 701px) {
    html {
        overflow: hidden;
    }
    html,
    html body {
        touch-action: none;
    }
}

@media (max-width: 700px) {
    html,
    html body {
        margin: 0;
        padding: 0;
        height: 100%;
        overscroll-behavior: none;
    }
}

@media (min-width: 701px) and (max-width: 1600px) {
    html {
        font-size: 1vw;
    }
}

@media (min-width: 1601px) {
    html {
        font-size: 1.013rem;
    }
}

@media (max-width: 700px) {
    html {
        font-size: 0.562rem;
    }
}

@media (max-width: 580px) {
    html.is-tabbing .menu-toggle:focus {
        outline-color: #ccf381;
    }
}

html.is-tabbing [data-current-section='cinq'] #logo:focus {
    outline-color: #4831d4;
}

html.is-tabbing [data-current-section='trois'] .menu-toggle:not(.x):focus,
html.is-tabbing [data-current-section='footer'] .menu-toggle:not(.x):focus {
    outline-color: #ccf381;
}

html.is-tabbing #section-nav button:focus:after {
    box-shadow: 0 0 0 0.3rem rgba(24, 156, 230, 0.4);
}

@media (min-width: 701px) {
    #app[data-current-section='une'] #contact-menu.shadow {
        box-shadow: 0 10px 53px 0 rgba(163, 204, 170, 0.3);
    }
    #app[data-current-section='deux'] #logo,
    #app[data-current-section='cinq'] #logo,
    #app[data-current-section='quatre'] #logo {
        color: #4831d4;
    }
    #app[data-current-section='trois'] #section-nav,
    #app[data-current-section='trois'] .menu-toggle:not(.x),
    #app[data-current-section='footer'] #section-nav,
    #app[data-current-section='footer'] .menu-toggle:not(.x) {
        color: #ccf381;
    }
}

#app[data-current-section='footer'] #section-nav {
    display: none;
}

@media (max-width: 580px) {
    #site-header {
        font-size: 1.2rem;
    }
    #site-header .menu-toggle {
        color: #ccf381;
    }
    footer[data-section='footer'] {
        font-size: 1.5rem;
    }
}

main {
    outline: none;
    -webkit-overflow-scrolling: touch;
}

@media (min-width: 701px) {
    main {
        touch-action: none;
        scroll-snap-type: y mandatory;
    }
}

.square-of-dots {
    z-index: -1;
    width: 8em;
    height: 9em;
    position: absolute;
}

@media (min-width: 701px) {
    .cavalier p {
        width: 32vw;
    }
    @media (hover: hover) and (any-pointer: fine) {
        [data-section][aria-hidden="true"]:not(.scrolled) .cavalier p,
        [data-section][aria-hidden="true"]:not(.scrolled) .cavalier h1,
        [data-section][aria-hidden="true"]:not(.scrolled) .cavalier .square-of-dots {
            opacity: 0;
        }
        [data-section][aria-hidden="true"]:not(.scrolled) .cavalier p {
            -webkit-transform: translate3d(0, 20px, 0);
            -ms-transform: translate3d(0, 20px, 0);
            transform: translate3d(0, 20px, 0);
        }
        [data-section][aria-hidden="true"]:not(.scrolled) .cavalier p:nth-of-type(3) {
            -webkit-transform: translate3d(0, 15px, 0);
            -ms-transform: translate3d(0, 15px, 0);
            transform: translate3d(0, 15px, 0);
        }
        [data-section][aria-hidden="true"]:not(.scrolled) .cavalier h1 {
            -webkit-transform: translate3d(0, 50px, 0);
            -ms-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
        }
        [data-section][aria-hidden="true"] a[href]:not([tabindex='-1']),
        [data-section][aria-hidden="true"] [tabindex]:not([tabindex='-1']),
        [data-section][aria-hidden="true"] input:not([disabled]):not([tabindex='-1']),
        [data-section][aria-hidden="true"] select:not([disabled]):not([tabindex='-1']),
        [data-section][aria-hidden="true"] textarea:not([disabled]):not([tabindex='-1']),
        [data-section][aria-hidden="true"] button:not([disabled]):not(.nav-bullet):not([tabindex='-1']) {
            visibility: hidden;
            -webkit-transition: visibility 400ms;
            transition: visibility 400ms;
        }
    }
}

[data-section='footer'] {
    font-size: 1.2em;
}

.hKeZLG {
    position: relative;
    font-weight: bold;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 0.9em;
    user-select: none;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    display: inline-flex;
    overflow: hidden;
    background: transparent;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
}

.hKeZLG[data-theme='lime'] .sauce-button__content {
    color: #ccf381;
}

.hKeZLG[data-theme='lime']:hover .sauce-button__content,
.hKeZLG[data-theme='lime']:focus .sauce-button__content {
    border-color: #ccf381;
}

.hKeZLG[data-theme='lime']:hover .sauce-button__content:before,
.hKeZLG[data-theme='lime']:focus .sauce-button__content:before {
    background: #ccf381;
}

.hKeZLG:hover .sauce-button__content,
.hKeZLG:focus .sauce-button__content {
    color: #fff;
    border-color: #4831d4;
}

.hKeZLG:hover .sauce-button__content:before,
.hKeZLG:focus .sauce-button__content:before {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    background: #4831d4;
}

.hKeZLG .sauce-button__content {
    z-index: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1.25em 3em;
    width: 100%;
    color: #4831d4;
    border: 1px solid currentColor;
}

.hKeZLG .sauce-button__content:before {
    content: '';
    width: 101%;
    height: 108%;
    pointer-events: none;
    z-index: -1;
    position: absolute;
    top: -0.1em;
    bottom: 0;
    left: 0;
    right: 0;
    background: currentColor;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.hKeZLG .bow-arrow {
    width: 3.1em;
    height: 1.7em;
    margin-left: 1.55em;
}

.hKeZLG .bow-arrow path {
    stroke: currentColor;
}

.envobU {
    -webkit-text-align: left;
    text-align: left;
    position: relative;
}

.envobU[data-theme='lime'] h1 {
    color: #ccf381;
}

.envobU[data-theme='lime'] p {
    color: #fff;
}

.envobU .cavalier-content {
    position: relative;
}

.envobU p,
.envobU h1 {
    -webkit-transition: -webkit-transform 0.5s, opacity 0.2s;
    -webkit-transition: transform 0.5s, opacity 0.2s;
    transition: transform 0.5s, opacity 0.2s;
}

.envobU h1 {
    margin: 0;
    font-size: 4em;
    font-weight: 900;
    line-height: 1.1;
    letter-spacing: -0.03em;
    color: #4831d4;
}

@media (min-width: 701px) {
    .envobU h1 {
        max-width: 30vw;
        -webkit-transition-delay: 200ms;
        transition-delay: 200ms;
    }
}

.envobU p {
    line-height: 1.6;
    color: #3d155f;
}

@media (min-width: 701px) {
    .envobU p {
        max-width: 701px;
        font-size: 1.07em;
        -webkit-transition-delay: 310ms;
        transition-delay: 310ms;
    }
    .envobU p:nth-of-type(2) {
        -webkit-transition-delay: 370ms;
        transition-delay: 370ms;
    }
    .envobU p:nth-of-type(3),
    .envobU p:nth-of-type(4) {
        -webkit-transition-delay: 420ms;
        transition-delay: 420ms;
    }
    .envobU p:nth-of-type(5) {
        -webkit-transition-delay: 500ms;
        transition-delay: 500ms;
    }
}

@media (max-width: 700px) {
    .envobU p {
        font-size: 1.3em;
    }
}

.cWhpWP {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    color: rgba(61, 21, 95, 0.7);
}

.cWhpWP:not(:last-child) {
    margin-right: 20px;
}

.cWhpWP.input-group.focused {
    color: #4831d4;
}

.cWhpWP label {
    margin-bottom: 5px;
}

.cWhpWP textarea,
.cWhpWP [type='tel'],
.cWhpWP [type='text'],
.cWhpWP [type='email'],
.cWhpWP [type='search'],
.cWhpWP [type='password'] {
    border: 0;
    padding: 0.6em;
    padding-left: 0;
    position: relative;
    color: currentColor;
    background: transparent;
    border-bottom: 1px solid currentColor;
}

.cWhpWP textarea:after,
.cWhpWP [type='tel']:after,
.cWhpWP [type='text']:after,
.cWhpWP [type='email']:after,
.cWhpWP [type='search']:after,
.cWhpWP [type='password']:after {
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    width: 100%;
    position: absolute;
    height: 1px;
}

.hYlwmr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (max-width: 580px) {
    .hYlwmr .form-row {
        font-size: 1.2rem;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .hYlwmr .form-row .input-group:first-of-type {
        margin-bottom: 3rem;
    }
}

@media (min-width: 581px) {
    .hYlwmr .form-row:first-of-type .input-group {
        width: 45%;
    }
}

.hYlwmr .form-row {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}

.hYlwmr .form-row:not(:last-of-type) {
    margin-bottom: 3rem;
}

.hYlwmr .input-group {
    color: rgba(61, 21, 95, 0.5);
}

.hYlwmr .input-group:not(.focused) textarea,
.hYlwmr .input-group:not(.focused) input:not([type='submit']):not([type='button']) {
    border-color: currentColor;
}

.hYlwmr .input-group.focused input::-webkit-input-placeholder,
.hYlwmr .input-group.focused textarea::-webkit-input-placeholder {
    color: transparent;
}

.hYlwmr .input-group.focused input::-moz-placeholder,
.hYlwmr .input-group.focused textarea::-moz-placeholder {
    color: transparent;
}

.hYlwmr .input-group.focused input:-ms-input-placeholder,
.hYlwmr .input-group.focused textarea:-ms-input-placeholder {
    color: transparent;
}

.hYlwmr .input-group.focused input::placeholder,
.hYlwmr .input-group.focused textarea::placeholder {
    color: transparent;
}

.hYlwmr input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 100px #f9f9f9 inset !important;
}

.hYlwmr textarea,
.hYlwmr input:not([type='submit']):not([type='button']) {
    line-height: 1.5;
    font-size: 1.15em;
}

.hYlwmr textarea::-webkit-input-placeholder,
.hYlwmr input:not([type='submit']):not([type='button'])::-webkit-input-placeholder {
    -webkit-transition: color 0.1s ease-out;
    transition: color 0.1s ease-out;
}

.hYlwmr textarea::-moz-placeholder,
.hYlwmr input:not([type='submit']):not([type='button'])::-moz-placeholder {
    -webkit-transition: color 0.1s ease-out;
    transition: color 0.1s ease-out;
}

.hYlwmr textarea:-ms-input-placeholder,
.hYlwmr input:not([type='submit']):not([type='button']):-ms-input-placeholder {
    -webkit-transition: color 0.1s ease-out;
    transition: color 0.1s ease-out;
}

.hYlwmr textarea::placeholder,
.hYlwmr input:not([type='submit']):not([type='button'])::placeholder {
    -webkit-transition: color 0.1s ease-out;
    transition: color 0.1s ease-out;
}

.hYlwmr textarea {
    height: 4.2em;
}

@media (max-width: 580px) {
    .hYlwmr textarea {
        height: 6em;
    }
}

.hYlwmr #submit-button {
    margin-top: 5.2em;
}

@media (max-width: 580px) {
    .hYlwmr #submit-button {
        margin-top: 0;
        -ms-flex-item-align: flex-start;
        align-self: flex-start;
    }
}

.lhhpGw {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.lhhpGw:focus {
    outline: none;
}

@media (max-width: 580px) {
    .lhhpGw:not([data-section='footer']) {
        margin-bottom: 10rem;
    }
}

@media (min-width: 581px) and (max-width: 700px) {
    .lhhpGw:not([data-section='une']):not([data-section='footer']):not([data-section='trois']) {
        padding-top: 15vh;
        padding-bottom: 15vh;
    }
    .lhhpGw:not([data-section='une']):not([data-section='footer'])[data-section='quatre'] {
        padding-bottom: 0;
    }
}

@media (max-height: 1199px) {
    @media (min-width: 701px) {
        .lhhpGw:not([data-section='une']):not([data-section='footer']) {
            min-height: 100vh;
        }
    }
}

@media (min-width: 701px) {
    @media (max-height: 1199px) {
        .lhhpGw:not([data-section='une']) {
            height: 100vh;
        }
    }
    .lhhpGw[aria-hidden='true'] {
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

@media (min-height: 1200px) {
    .lhhpGw:not([data-section='une']) {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }
}

@media (min-width: 1200px) {
    .lhhpGw[aria-hidden='false'] {
        scroll-snap-align: start;
    }
}

.lhhpGw[aria-hidden='false'] {
    z-index: 3;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.lhhpGw[aria-hidden='false'] .cavalier p,
.lhhpGw[aria-hidden='false'] .cavalier h1 {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.lhhpGw .inner-content {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 580px) {
    .lhhpGw .inner-content {
        padding: 0 15vw;
    }
}

@media (min-width: 581px) and (max-width: 700px) {
    .lhhpGw .inner-content {
        padding: 0 7rem;
    }
}

@media (min-width: 701px) {
    .lhhpGw .inner-content {
        padding: 0 10rem;
    }
}

@media (min-width: 701px) and (max-width: 1500px) {
    .lhhpGw .inner-content {
        max-width: 1500px;
    }
}

@media (min-width: 1501px) {
    .lhhpGw .inner-content {
        max-width: 1760px;
    }
}

.eVlKtm {
    color: #badd76;
    background: #3d155f;
}

@media (min-width: 701px) {
    .eVlKtm[aria-hidden='true']:not(.scrolled) .footer-main,
    .eVlKtm[aria-hidden='true']:not(.scrolled) .footer-bottom {
        opacity: 0;
        -webkit-transform: translate3d(0, 40px, 0);
        -ms-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
    }
}

.eVlKtm li a {
    color: currentColor;
}

.eVlKtm .inner-content {
    padding-top: 8rem;
    padding-bottom: 5rem;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.eVlKtm .footer-main,
.eVlKtm .footer-bottom {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@media (min-width: 700px) {
    .eVlKtm .footer-main,
    .eVlKtm .footer-bottom {
        -webkit-transition: -webkit-transform 0.5s, opacity 0.2s;
        -webkit-transition: transform 0.5s, opacity 0.2s;
        transition: transform 0.5s, opacity 0.2s;
    }
}

@media (max-width: 460px) {
    .eVlKtm .basic-contact {
        margin-right: 12vw;
    }
}

@media (min-width: 461px) {
    .eVlKtm .basic-contact {
        margin-right: 18vw;
    }
}

@media (min-width: 700px) {
    .eVlKtm .footer-main {
        -webkit-transition-delay: 300ms;
        transition-delay: 300ms;
    }
}

@media (max-width: 420px) {
    .eVlKtm .footer-main {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.eVlKtm .footer-main {
    margin-bottom: 7.4em;
}

.eVlKtm .footer-main>ul {
    line-height: 2.5;
    font-size: 1.15em;
    margin-top: 2.05em;
}

.eVlKtm .footer-bottom {
    padding-top: 3em;
    font-size: 1.15em;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    border-top: 1px solid rgba(186, 221, 118, 0.7);
}

@media (min-width: 700px) {
    .eVlKtm .footer-bottom {
        -webkit-transition-delay: 500ms;
        transition-delay: 500ms;
    }
}

@media (max-width: 460px) {
    .eVlKtm .footer-bottom {
        -webkit-box-pack: left;
        -webkit-justify-content: left;
        -ms-flex-pack: left;
        justify-content: left;
    }
}

@media (max-width: 580px) {
    .eVlKtm .social-contact li:not(:last-of-type) {
        margin-right: 1em;
    }
}

@media (max-width: 460px) {
    .eVlKtm .social-contact {
        display: none;
    }
}

.eVlKtm[aria-hidden='false'] .footer-main,
.eVlKtm[aria-hidden='false'] .footer-bottom {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.BsRLL {
    font-size: 1em;
    line-height: 2.5;
    position: relative;
}

.BsRLL ul {
    font-size: 1.15em;
}

.BsRLL a {
    color: currentColor;
}

.iMAreF {
    position: relative;
}

.iMAreF li {
    display: inline-block;
}

.iMAreF li:not(:last-of-type) {
    margin-right: 2.5em;
}

.iMAreF a {
    color: currentColor;
}

.fbQokD {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 1000;
    max-height: 12rem;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: transparent;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    font-size: 1rem;
    height: 11.12em;
}

@media (min-width: 701px) {
    .fbQokD {
        position: fixed;
        padding-left: 6em;
        padding-right: 6em;
    }
    .fbQokD .cross-site-nav {
        line-height: 2.5;
        font-size: 1.15em;
    }
}

@media (max-width: 700px) {
    .fbQokD {
        padding-left: 3em;
        padding-right: 3em;
        position: absolute;
    }
}

.fbQokD[data-compact='true'] #logo {
    width: unset;
}

.fbQokD[data-compact='true'] #logo svg {
    -webkit-transform: translateX(-3.5rem);
    -ms-transform: translateX(-3.5rem);
    transform: translateX(-3.5rem);
}

.fbQokD[data-compact='true'] #logo .logo_svg__lu,
.fbQokD[data-compact='true'] #logo .logo_svg__ola {
    opacity: 0;
    pointer-events: none;
}

.fbQokD[data-compact='true'] #logo .logo_svg__ola {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
}

.fbQokD[data-compact='true'] #logo .logo_svg__lu {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.fbQokD[data-compact='false'] .logo_svg__lu,
.fbQokD[data-compact='false'] .logo_svg__ola {
    -webkit-transition: opacity 0.3s, -webkit-transform 0.5s 100ms;
    -webkit-transition: opacity 0.3s, transform 0.5s 100ms;
    transition: opacity 0.3s, transform 0.5s 100ms;
}

@media (max-width: 700px) {
    .fbQokD #logo {
        z-index: 999;
    }
}

.fbQokD #logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 8.34em;
    height: 3.195em;
    position: relative;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: color 700ms;
    transition: color 700ms;
    outline-color: transparent;
    color: #ccf381;
}

.fbQokD #logo svg {
    width: inherit;
    height: inherit;
}

.fbQokD #logo svg path {
    fill: currentColor;
}

.fbQokD #logo .logo_svg__lu,
.fbQokD #logo .logo_svg__ola {
    opacity: 1;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

.fbQokD .menu-toggle {
    z-index: 999;
    width: 2.78em;
    height: 2.09em;
    background: none;
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-flexbox;
    display: inline-flex;
    margin-top: 0.699em;
    color: #4831d4;
}

.fbQokD .menu-toggle.x {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.fbQokD .menu-toggle.x:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fbQokD .menu-toggle.x:after {
    top: 0;
    width: 100%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.fbQokD .menu-toggle:before,
.fbQokD .menu-toggle:after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    background-color: currentColor;
}

.fbQokD .menu-toggle:before {
    top: 0;
}

.fbQokD .menu-toggle:after {
    right: 0;
    width: 72%;
    top: 1.13em;
}

.fbQokD #contact-menu {
    z-index: 998;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-shadow: none;
    padding: 3.473em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (max-width: 700px) {
    .fbQokD #contact-menu {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        background: #fff;
        font-size: 2.2rem;
        -webkit-transition: opacity .3s, visibility .3s;
        transition: opacity .3s, visibility .3s;
        -webkit-box-pack: space-around;
        -webkit-justify-content: space-around;
        -ms-flex-pack: space-around;
        justify-content: space-around;
    }
    .fbQokD #contact-menu:not(.open) {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .fbQokD #contact-menu.open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .fbQokD #contact-menu ul {
        font-size: 1em;
        line-height: 2.5;
    }
    .fbQokD #contact-menu .social-contact li:not(:last-of-type) {
        margin-right: 7.5vw;
    }
}

@media (max-width: 350px) {
    .fbQokD #contact-menu {
        padding: 2.473em;
    }
}

@media (min-width: 701px) {
    .fbQokD #contact-menu {
        top: 1.39em;
        right: 3.41em;
        width: 22.223em;
        font-size: 1.1em;
        position: absolute;
        -webkit-transition: opacity 0.4s, box-shadow 0.4s;
        transition: opacity 0.4s, box-shadow 0.4s;
    }
    .fbQokD #contact-menu:before {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        background-color: #fff;
        -webkit-transform-origin: top right;
        -ms-transform-origin: top right;
        transform-origin: top right;
    }
    .fbQokD #contact-menu:not(.open) {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .fbQokD #contact-menu:not(.open):before {
        -webkit-transform: scaleX(.3826) scaleY(.27);
        -ms-transform: scaleX(.3826) scaleY(.27);
        transform: scaleX(.3826) scaleY(.27);
    }
    .fbQokD #contact-menu:not(.open) .cross-site-nav,
    .fbQokD #contact-menu:not(.open) .basic-contact ul,
    .fbQokD #contact-menu:not(.open) .social-contact,
    .fbQokD #contact-menu:not(.open) .basic-contact .say-hello {
        opacity: 0;
    }
    .fbQokD #contact-menu:not(.open) .cross-site-nav {
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
        transform: translateY(50px);
    }
    .fbQokD #contact-menu:not(.open) .basic-contact ul {
        -webkit-transform: translateY(40px);
        -ms-transform: translateY(40px);
        transform: translateY(40px);
    }
    .fbQokD #contact-menu:not(.open) .social-contact {
        -webkit-transform: translateY(30px);
        -ms-transform: translateY(30px);
        transform: translateY(30px);
    }
  
    .fbQokD #contact-menu.open.shadow {
        box-shadow: 0 10px 53px 0 rgba(72, 49, 212, .05);
    }
    .fbQokD #contact-menu.open:before {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    .fbQokD #contact-menu.open .cross-site-nav,
    .fbQokD #contact-menu.open .basic-contact ul,
    .fbQokD #contact-menu.open .social-contact,
    .fbQokD #contact-menu.open .basic-contact .say-hello {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    .fbQokD #contact-menu .basic-contact {
        margin-top: 0.8em;
    }
    .fbQokD #contact-menu .basic-contact .say-hello {
        -webkit-transition: opacity 0.2s 400ms;
        transition: opacity 0.2s 400ms;
    }
    .fbQokD #contact-menu .social-contact {
        font-size: 0.9em;
    }
    .fbQokD #contact-menu .cross-site-nav,
    .fbQokD #contact-menu .basic-contact ul,
    .fbQokD #contact-menu .social-contact {
        -webkit-transition: opacity, -webkit-transform 0.3s;
        -webkit-transition: opacity, transform 0.3s;
        transition: opacity, transform 0.3s;
    }
    .fbQokD #contact-menu .cross-site-nav {
        margin: 1.2em 0;
        -webkit-transition-delay: 200ms;
        transition-delay: 200ms;
    }
    .fbQokD #contact-menu .basic-contact ul {
        margin: 0 0 2.78em;
        -webkit-transition-delay: 400ms;
        transition-delay: 400ms;
    }
    .fbQokD #contact-menu .social-contact {
        -webkit-transition-delay: 600ms;
        transition-delay: 600ms;
    }
}

.fbQokD #contact-menu a {
    color: #4831d4;
}

.ggnSEW {
    margin: 0;
    z-index: 1;
    width: 23.334em;
    height: 24.67em;
    position: relative;
    border: 0.115rem solid #fff;
}

.ggnSEW .handsome {
    width: inherit;
    display: block;
    height: inherit;
    margin-top: -2.435em;
    background-color: #fff;
    background-size: cover;
    background-position-x: center;
    margin-left: -2.2em;
    background-image: url(../img/profile.jpg);
    
}


.ggnSEW #avatar-shapes {
    top: -25%;
    width: 40em;
    z-index: -1;
    height: 126%;
    right: -5.4em;
    position: absolute;
}

.kfDSgG {
    z-index: 999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    margin-top: -35px;
    color: #4831d4;
    right: calc(6em + 1em);
}

.kfDSgG ul {
    width: 0.5em;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.kfDSgG li {
    width: 0.523em;
}

.kfDSgG button {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: inherit;
    cursor: pointer;
    min-height: 2em;
    position: relative;
    color: currentColor;
    -webkit-transition-delay: 100ms;
    transition-delay: 100ms;
    outline-color: transparent;
    background-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

.kfDSgG button:focus {
    outline: none;
}

.kfDSgG button:after {
    content: '';
    width: 100%;
    height: 0.523em;
    position: absolute;
    background-color: currentColor;
    border: 1px solid currentColor;
    -webkit-transition: -webkit-transform 0.2s 100ms;
    -webkit-transition: transform 0.2s 100ms;
    transition: transform 0.2s 100ms;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.kfDSgG button.current:after {
    -webkit-transform: rotate(0) scale(2);
    -ms-transform: rotate(0) scale(2);
    transform: rotate(0) scale(2);
    background: transparent;
}

.fZhawX {
    position: relative;
}

@media (min-width: 701px) {
    @media (max-height: 1199px) {
        .fZhawX:after {
            bottom: 0;
            content: '';
            width: 100%;
            height: 1em;
            position: absolute;
            background: #3d155f;
        }
    }
}

.fZhawX .inner-content {
    margin-top: 2.78em;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (min-width: 581px) {
    .fZhawX .cavalier {
        -webkit-text-align: center;
        text-align: center;
    }
}

.fZhawX .cavalier {
    margin-bottom: 5.2em;
}

.fZhawX .cavalier h1 {
    font-size: 3.2em;
    font-weight: bold;
    line-height: 1.3;
    max-width: unset;
}

.fZhawX .cavalier p {
    margin: 0 auto;
    font-size: 1.6em;
    line-height: 1.2;
    margin-top: 15px;
    letter-spacing: 0.02em;
}

@media (max-width: 580px) {
    .fZhawX .cavalier p br {
        display: none;
    }
}

@media (min-width: 701px) {
    .fZhawX #home-contact {
        width: 60%;
        min-width: 500px;
    }
}

@media (min-width: 581px) and (max-width: 700px) {
    .fZhawX #home-contact {
        width: 90%;
    }
}

@media (max-width: 580px) {
    .fZhawX #home-contact {
        width: 100%;
    }
}

.fZhawX #home-contact {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.fZhawX #home-contact label,
.fZhawX #home-contact textarea,
.fZhawX #home-contact [type='text'],
.fZhawX #home-contact [type='email'] {
    font-weight: 200;
}

.fWhlNu {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 4.17rem;
    background: #4831d4;
}

@media (min-width: 581px) {
    .fWhlNu {
        background: linear-gradient(90deg, #4831d4 67%, #ccf381 33%);
    }
}

@media (max-width: 700px) {
    .fWhlNu {
        font-size: 0.95em;
    }
}

@media (min-width: 701px) {
    .fWhlNu[aria-hidden='true'] {
        overflow: unset;
    }
}

@media (max-width: 580px) {
    .fWhlNu {
        padding-bottom: 0;
    }
}

.fWhlNu .inner-content {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
}

@media (max-width: 580px) {
    .fWhlNu .inner-content.primary {
        margin-top: calc(11.12em + 6em);
    }
}

@media (min-width: 581px) {
    .fWhlNu .inner-content.primary {
        margin-top: calc(11.12em + 2em);
    }
}

@media (max-width: 700px) {
    .fWhlNu .inner-content.primary .visage {
        margin-right: 0;
    }
}

@media (min-width: 701px) {
    .fWhlNu .inner-content.primary .visage {
        margin-right: calc(6em + 4em);
    }
}

@media (min-width: 701px) {
    .fWhlNu .inner-content.bottom {
        margin-top: auto;
        padding-right: 6em;
    }
}

@media (min-width: 581px) and (max-width: 700px) {
    .fWhlNu .inner-content.bottom {
        margin-top: 3.7em;
    }
}

@media (max-width: 580px) {
    .fWhlNu .inner-content.bottom {
        margin-top: 7em;
        margin-bottom: 4em;
    }
}

.fWhlNu .inner-content.bottom .highlights {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@media (min-width: 701px) {
    .fWhlNu .cavalier {
        margin-top: -3.5em;
    }
}

@media (max-width: 580px) {
    .fWhlNu .cavalier h1 {
        font-size: 5em;
    }
}

@media (min-width: 581px) {
    .fWhlNu .cavalier h1 {
        font-size: 4.4em;
    }
}

.fWhlNu .cavalier h1>span>span {
    color: #eeffff;
}

@media (max-width: 580px) {
    .fWhlNu .cavalier p {
        font-size: 2em;
    }
}

@media (min-width: 581px) {
    .fWhlNu .cavalier p {
        font-size: 1.3em;
    }
}

@media (max-width: 700px) {
    .fWhlNu .cavalier p {
        max-width: 20em;
    }
}

.fWhlNu #sauce-drip-outline {
    left: 0;
    display: none;
    height: 738px;
    position: absolute;
    margin-left: -6.2em;
    top: 11.12em;
}

@media (min-aspect-ratio: 1440/900) and (min-height: 738px) {
    .fWhlNu #sauce-drip-outline {
        display: block;
    }
}

@media (min-width: 1024px) and (min-height: 800px) {
    .fWhlNu #sauce-drip-outline {
        height: 90vh;
    }
}

@media (min-width: 701px) {
    .fWhlNu .highlights {
        width: 41%;
        font-size: 0.965em;
    }
}

@media (max-width: 700px) {
    .fWhlNu .highlights {
        font-size: 1.2em;
    }
}

@media (min-width: 581px) and (max-width: 700px) {
    .fWhlNu .highlights {
        width: 65%;
    }
}

.fWhlNu .highlights {
    line-height: 1.5;
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    color: #ccf381;
}

.fWhlNu .highlights li {
    width: calc(50% - 1.731em);
}

.fWhlNu .mobile-avatar {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 7rem 0;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #ccf381;
}

.fWhlNu .mobile-avatar .visage {
    margin-left: 2.2em;
}

.fWhlNu .mobile-avatar path[fill='#ccf381'] {
    fill: #4831d4;
}

.eoFzqb {
    background-color: #4831d4;
}

@media (hover: hover) and (any-pointer: fine) {
    @media (min-width: 701px) {
        .eoFzqb[aria-hidden='true']:not(.scrolled) .work-illo {
            opacity: 0;
            -webkit-transform: translate3d(0, 40px, 0);
            -ms-transform: translate3d(0, 40px, 0);
            transform: translate3d(0, 40px, 0);
        }
    }
}

.eoFzqb .inner-content {
    -webkit-box-pack: space-between;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: center;
}

@media (min-width: 701px) {
    .eoFzqb .inner-content {
        margin-top: 5.5vh;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .eoFzqb .inner-content .cavalier h1 {
        max-width: 27.6vw;
    }
    .eoFzqb .inner-content .cavalier p {
        width: 27vw;
    }
}

@media (max-width: 700px) {
    .eoFzqb .inner-content {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-top: 11.12em;
    }
}

@media (max-width: 580px) {
    .eoFzqb .inner-content {
        margin-top: 7.12em;
    }
}

.eoFzqb a {
    color: aqua;
    border-bottom: 2px dotted;
}

@media (min-width: 701px) {
    .eoFzqb .work-illo {
        -webkit-transition: -webkit-transform 0.5s, opacity 0.2s;
        -webkit-transition: transform 0.5s, opacity 0.2s;
        transition: transform 0.5s, opacity 0.2s;
        -webkit-transition-delay: 400ms;
        transition-delay: 400ms;
    }
}

.eoFzqb .work-illo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0;
    position: relative;
}

@media (max-width: 580px) {
    .eoFzqb .work-illo {
        max-width: 110%;
        margin-top: 4vh;
        margin-left: -10%;
        margin-bottom: 4vh;
    }
    .eoFzqb .work-illo svg {
       display: none;
    }
}

@media (min-width: 581px) {
    .eoFzqb .work-illo {
        margin: 0;
    }
    .eoFzqb .work-illo svg {
       display: none;
    }
}

@media (min-width: 581px) and (max-width: 700px) {
    .eoFzqb .work-illo {
        max-width: 95%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        background-image: url(../img/svg6.svg);
    }
}

@media (min-width: 701px) {
    .eoFzqb .work-illo {
        width: 46em;
        max-width: 100%;
        background-image: url(../img/svg6.svg);
    }
}

.eoFzqb .work-illo svg {
    -webkit-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
    max-width: inherit;
}

.eoFzqb[aria-hidden='false'] .work-illo,
.eoFzqb[aria-hidden='false'] .square-of-dots {
    opacity: 1;
}

.eoFzqb[aria-hidden='false'] .work-illo {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.cOqecv .inner-content {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media (max-width: 700px) {
    .cOqecv .inner-content .cavalier:not(:last-of-type) {
        margin-bottom: 6vh;
    }
}

.cOqecv .inner-content .cavalier {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.cOqecv .inner-content .cavalier:nth-of-type(2) {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.cOqecv .square-of-dots {
    top: -4em;
    right: 17em;
}

.cOqecv #cs-pattern-left,
.cOqecv #cs-pattern-right {
    top: 0;
    right: 0;
    position: absolute;
}

.cOqecv #cs-pattern-right {
    width: 20em;
    height: 14.87em;
    margin-right: 10em;
}

.cOqecv #cs-pattern-left {
    left: 0;
    top: 5em;
    width: 13em;
    height: 13.41em;
    margin-left: 15em;
}

@media (max-width: 700px) {
    .cOqecv [data-shape] {
        display: none;
    }
}

.kmqmhf .inner-content {
    position: relative;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media (min-aspect-ratio: 1440/900) {
    .kmqmhf .inner-content {
        margin-top: 4.2rem;
    }
}

@media (min-width: 1024px) and (min-height: 665px) and (max-height: 1500px) {
    .kmqmhf .inner-content .lanes {
        min-height: 40em;
    }
}

@media (max-width: 1500px) {
    .kmqmhf .inner-content {
        max-width: unset;
        padding: 0 calc(6em - 2em);
    }
}

@media (min-width: 1501px) {
    .kmqmhf .inner-content {
        padding-left: 5em;
        padding-right: 5em;
    }
}

@media (max-width: 580px) {
    .kmqmhf .inner-content {
        padding: 0 6vw;
    }
}

.kmqmhf .lanes {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
}

@media (max-width: 580px) {
    .kmqmhf .lanes {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.kmqmhf .lane {
    padding: 6.95em;
    padding-left: 6em;
}

@media (min-width: 581px) {
    .kmqmhf .lane {
        width: 50%;
    }
}

@media (min-width: 581px) and (max-width: 700px) {
    .kmqmhf .lane {
        padding-left: 4.5em;
        padding-right: 4.5em;
    }
}

.kmqmhf .lane:not(:last-of-type) {
    border-style: solid;
    border-width: 0 0 0.15rem 0;
    border-color: rgba(72, 49, 212, 0.3);
}

@media (min-width: 581px) {
    .kmqmhf .lane:not(:last-of-type) {
        border-bottom-width: 0;
        border-right-width: 0.15rem;
    }
}

.kmqmhf .cavalier {
    margin-bottom: 4.5em;
}

.kmqmhf .cavalier h1 {
    font-size: 3.2em;
}

.kmqmhf .cavalier p {
    width: unset;
    line-height: 1.2;
    font-size: 1.6em;
    letter-spacing: 0.02em;
}